<h1>#springMessage("auditorium.add")</h1>
<form method="post" >
    <table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
        <tr>
            <td alignment="right" width="20%">Name:</td>
            <td width="20%">
                <input type="text" name="name" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Seats Number:</td>
            <td width="20%">
                <input type="number" name="seatsNumber" min="1" step="1" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">VIP Seats:</td>
            <td width="20%">
                <input type="text" name="vipSeats" value="">
            </td>
        </tr>

    </table>
    <br>
    <input type="submit" alignment="center" value="Add">
</form>


<h1>#springMessage("auditoriums")</h1>


<table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <th width="20%">Name</th>
        <th width="20%">Seats Number</th>
        <th width="20%">Vip Seats</th>
        <th width="20%">Delete</th>
    </tr>
    #foreach ($a in ${auditoriumList})
    <tr>
        <td width="20%">
            ${a.name}
        </td>
        <td width="20%">
            ${a.seatsNumber}
        </td>
        <td width="20%">
            ${a.vipSeats}
        </td>
        <td width="20%">
            <a href="auditorium/delete/${a.name}">Delete</a>
        </td>
    </tr>
    #end
</table>



