<h1>Booked Tickets</h1>

<h4>
    <a href="boughttickets.json">Get in JSON format</a>
</h4>
<h4>
    <a href="boughttickets.pdf">Get in PDF format</a>
</h4>
<table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <th width="20%">Auditorium</th>
        <th width="20%">Date</th>
        <th width="20%">Price</th>
        <th width="20%">Seat</th>
    </tr>
    #foreach ($ticket in ${bookedTickets})
    <tr>
        <td width="20%">
            ${ticket.auditoriumName}
        </td>
        <td width="20%">
            ${ticket.date}
        </td>
        <td width="20%">
            ${ticket.price}
        </td>
        <td width="20%">
            ${ticket.seat}
        </td>
    </tr>
    #end
</table>