<h1>#springMessage("event.add")</h1>
<form method="post">
    <table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
        <tr>
            <td alignment="right" width="20%">Name:</td>
            <td width="20%">
                <input type="text" name="name" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Duration:</td>
            <td width="20%">
                <input type="text" name="duration" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Price:</td>
            <td width="20%">
                <input type="text" name="price" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Raiting:</td>
            <td width="20%">
                <select name="raiting">
                    <option value="HIGH">HIGH</option>
                    <option value="MID">MID</option>
                    <option value="LOW">LOW</option>
                </select>
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Date:</td>
            <td width="20%">
                <input type="date" name="date" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Auditorium:</td>
            <td width="20%">
                <select name="auditorium">
                    #foreach ($a in ${auditoriumList})
                    <option value="${a.name}">${a.name}</option>
                    #end
                </select>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" alignment="center" value="Add">
</form>

<h1>#springMessage("events")</h1>

#foreach ($e in ${eventList})
<table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td alignment="right" width="20%">${e.id}</td>
        <td width="20%">
            ${e.name}
        </td>
        <td width="20%">
            <a href="event/delete/${e.name}">Delete</a>
        </td>
    </tr>
</table>
#end


