<h1>#springMessage("event.add")</h1>
<form method="post">
    <table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
        <tr>
            <td alignment="right" width="20%">Name:</td>
            <td width="20%">
                <input type="text" name="name" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Rating:</td>
            <td width="20%">
                <select name="rating" value="">
                    <option value="HIGH">HIGH</option>
                    <option value="MID">MID</option>
                    <option value="LOW">LOW</option>
                </select>
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Duration (min):</td>
            <td width="20%">
                <input type="number" name="duration" min="1" step="1" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Price:</td>
            <td width="20%">
                <input type="number" name="price" min="1" step="1" value="">
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" alignment="center" value="Add">
</form>

<h1>#springMessage("events")</h1>


<table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <th width="20%">Name</th>
        <th width="20%">Raiting</th>
        <th width="20%">Duration</th>
        <th width="20%">Price</th>
        <th width="20%">Delete</th>
    </tr>
    #foreach ($e in ${eventList})
    <tr>
        <td width="20%">
            ${e.name}
        </td>
        <td width="20%">
            ${e.rating}
        </td>
        <td width="20%">
            ${e.duration}
        </td>
        <td width="20%">
            ${e.price}
        </td>
        <td width="20%">
            <a href="events/delete/${e.name}">Delete</a>
        </td>
    </tr>

    <tr>
        <th colspan="2"></th>
        <th>Location</th>
        <th>Date</th>

    </tr>
    #foreach ($dl in ${e.datesLocations})
    <tr>
        <td colspan="2"></td>
        <td>${dl.location}</td>
        <td>${dl.date}</td>
        <td>
            <a href="events/delete/assignAuditorium/${e.id}/$dl.date">Delete</a>
        </td>
    </tr>
    #end
    <tr>
        <td colspan="2"></td>
        <td colspan="3">
            <form method="post" action="events/assignAuditorium">
                <input type="hidden" name="event" value="${e.name}">
                <table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">

                    <tr>
                        <td alignment="right" width="20%">Auditorium:</td>
                        <td width="20%">
                            <select name="auditorium" value="">
                                #foreach ($a in ${auditoriumList})
                                <option value="${a.name}">${a.name}</option>
                                #end
                            </select>
                        </td>
                    </tr>
                    <tr>

                        <td alignment="right" width="20%">Date:</td>
                        <td width="20%">
                            <input type="datetime-local" name="date" min="2016-01-01" value="">
                        </td>
                        <td colspan="2">
                            <input type="submit" alignment="center" value="Add">
                        </td>
                    </tr>

                </table>

            </form>
        </td>
    </tr>
    #end
</table>



