<h1>Reports</h1>
<h3>Users Booked Tickets</h3>
<form action="reports/usersBookedTickets" enctype='application/pdf' method="post">
    <table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
        <tr>
            <td alignment="right" width="20%">User:</td>
            <td width="20%">
                <select name="userId" value="">
                    #foreach ($user in ${users})
                    <option value="${user.id}">${user.firstName} ${user.lastName}</option>
                    #end
                </select>
            </td>
        </tr>

    </table>
    <br>
    <input type="submit" alignment="center" value="Get Report">
</form>




