<h1>#springMessage("user.add")</h1>
<form id="userForm" method="post"  enctype="application/json">
    <input type="hidden" name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
    <table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
        <tr>
            <td alignment="right" width="20%">First Name:</td>
            <td width="20%">
                <input type="text" name="firstName" required ="required" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Last Name:</td>
            <td width="20%">
                <input type="text" name="lastName"  required ="required" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Password:</td>
            <td width="20%">
                <input type="password" name="password" required ="required" minLength="4" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Email:</td>
            <td width="20%">
                <input type="text" name="email" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Birthday:</td>
            <td width="20%">
                <input type="date" name="birthday" min="1900-01-01" value="">
            </td>
        </tr>
    </table>
    <br>
    <input type="hidden" name="id" min="0" value="0">

    <input type="button" alignment="center" value="Add" onclick="addUser();">
    <input type="button" alignment="center" value="Save Edit" onclick="saveEditUser();">
</form>


<h1>#springMessage("users")</h1>


<table id="usersList" width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Accounts</th>
        <th>Delete</th>
    </tr>

    #foreach ($u in ${usersList})
    <tr>
        <td>
            ${u.firstName}
        </td>
        <td>
            ${u.lastName}
        </td>
        <td>
            ${u.email}
        </td>
        <td>
            ${u.birthday}
        </td>
        <td>
            <a href="users/${u.id}/accounts/">Accounts</a>
        </td>
        <td>
            <a href="#" onclick="getUser(${u.id});">Edit</a>
            <a href="users/delete/${u.id}">Delete</a>
        </td>
    </tr>
    #end
</table>

<script language="JavaScript">
    $(document).ready(function(){

    });

    function getUser(id){
         $.get("users/"+id, function(user, status){
            $("input[name='firstName']").val(user.firstName);
            $("input[name='lastName']").val(user.lastName);
            $("input[name='birthday']").val(user.birthday);
            $("input[name='email']").val(user.email);
            $("input[name='id']").val(user.id);
        });
    }
    function saveEditUser(){
         var values = {};
            $.each($('#userForm').serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });
            $.post("users/update",
                values,
                function(user, status){
                    if(user.id){
                        location.reload();
                    }else{
                        alert("Error")
                    }
                }
            );
    }
    function addUser(){
         var values = {};
            $.each($('#userForm').serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });
         $.post("users",
            values,
            function(user, status){
                if(user.id){
                    $('#usersList').find('tbody')
                        .append($('<tr>')
                            .append($('<td>')
                                .text(user.firstName)
                            ).append($('<td>')
                                .text(user.lastName)
                            ).append($('<td>')
                                .text(user.email)
                            ).append($('<td>')
                                .text(user.birthday)
                            )
                            .append($('<td>')
                                .append($('<a>')
                                    .attr('href', 'users/'+user.id+'/accounts/')
                                    .text('Accounts')
                                )
                            )
                            .append($('<td>')
                                .append($('<a>')
                                    .attr('href', 'users/delete/'+user.id)
                                    .text('Delete')
                                )
                            )
                    );
                }else{
                    alert("Error")
                }
            });
    }
</script>


