<h1>#springMessage("user.add")</h1>
<form method="post" >
    <input type="hidden" name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
    <table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
        <tr>
            <td alignment="right" width="20%">First Name:</td>
            <td width="20%">
                <input type="text" name="firstName" required ="required" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Last Name:</td>
            <td width="20%">
                <input type="text" name="lastName"  required ="required" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Password:</td>
            <td width="20%">
                <input type="password" name="password" required ="required" minLength="4" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Email:</td>
            <td width="20%">
                <input type="text" name="email" value="">
            </td>
        </tr>
        <tr>
            <td alignment="right" width="20%">Birthday:</td>
            <td width="20%">
                <input type="date" name="birthday" min="1900-01-01" value="">
            </td>
        </tr>

    </table>
    <br>
    <input type="submit" alignment="center" value="Add">
</form>


<h1>#springMessage("users")</h1>


<table width="95%" bgcolor="f8f8ff" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Accounts</th>
        <th>Delete</th>
    </tr>

    #foreach ($u in ${usersList})
    <tr>
        <td>
            ${u.firstName}
        </td>
        <td>
            ${u.lastName}
        </td>
        <td>
            ${u.email}
        </td>
        <td>
            ${u.birthday}
        </td>
        <td>
            <a href="users/${u.id}/accounts/">Accounts</a>
        </td>
        <td>
            <a href="users/delete/${u.id}">Delete</a>
        </td>
    </tr>
    #end
</table>



