<div style="background: #E0E0E0; height: 80px; padding: 5px;">
    <div style="float: left">
        <h1>SHOW TIME</h1>
    </div>
    <div style="float: right; padding: 10px;">
        Search <input name="search">


        <form name='logoutForm' method='POST' action="$request.getContextPath()/logout">
            #if($sec.getPrincipal() != "Guest" )
            <input type="hidden" name="${_csrf.parameterName}"
                   value="${_csrf.token}"/>
            $sec.getPrincipal() :
            <a href="#" onclick="document.logoutForm.submit()">Logout</a>
            #else
                Guest
            #end
        </form>

        #if($sec.rememberMeAuthenticated())
        logined by "Remember Me Cookies"
        #end

    </div>
</div>