
<div style="background: #f0f0f0; height: 30px; padding: 10px;">
    <a style="border:solid 1px; padding:10px;margin:5px;" href="#springUrl("/show/")">Home</a>
    <a style="border:solid 1px; padding:10px;margin:5px;" href="#springUrl("/show/auditoriums")">Auditoriums</a>
    <a style="border:solid 1px; padding:10px;margin:5px;" href="#springUrl("/show/events")">Events</a>
    <a style="border:solid 1px; padding:10px;margin:5px;" href="#springUrl("/show/users")">Users</a>
    <a style="border:solid 1px; padding:10px;margin:5px;" href="#springUrl("/show/booking")">Booking</a>
    <a style="border:solid 1px; padding:10px;margin:5px;" href="#springUrl("/show/reports")">Reports</a>
    <a style="border:solid 1px; padding:10px;margin:5px;" href="#springUrl("/show/uploads")">Uploads</a>
    <a style="border:solid 1px; padding:10px;margin:5px;" href="#springUrl("/show/wstest?eventName=Saw&email=dmytro_balota@epam.com")">SOAP Test</a>
</div>