<html>
<head>
    <script src="/show/resources/js/jquery-2.2.3.js"></script>
    <title>Show</title>
</head>
<body>
<div style="margin: auto; width: 1000px;;">
    <div>
        #parse("fragments/header.vm")
    </div>
    <div>
        #parse("fragments/menu.vm")
    </div>

    <div>
        $screen_content
    </div>

    <div>
        #parse("fragments/footer.vm")
    </div>
</div>
</body>
</html>